header {
    background-color: rgb(254, 243, 210);
    width: 100%;
    height: 150px;
    }

    .logo {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    }

    .todosFuimos {
    color: chocolate;
    font-family: cursive;
    text-align: end;
    justify-items: center;
    margin-top: 10px;
    }

    .navBar {
    display: flex;
    font-size: 30px;
    gap: 10px;
    margin-right: 00px;
    margin-left: 00px;
    background-color: chocolate;

    li {
        display: flex;
        list-style: none;
        margin-left: 120px;
        margin-right: 120px;

        a {
        text-decoration: none;
        color: white;
        }
    }
    }