main {
    background-color: rgb(254, 243, 210);
    }

    .estamos {
    background-image: url(../assets/image/foto2section5.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    }

    h1 {
    padding-right: 25%;
    }

    .consultas {
    grid-area: consultas;
    background-color: chocolate;
    color: white;
    text-align: center;
    font-size: 60px;
    }

    .logoMl, .logoMp {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    }

    .publisTodas {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "publi1 publi2 publi3";
    justify-items: center;
    align-items: center;
    justify-content: space-around;

    }

    .publi1 {
    grid-area: publi1;
    border: 5px solid yellow;
    width: 200px;
    margin-left: 10px;
    }

    .publi2 {
    grid-area: publi2;
    border: 5px solid yellow;
    width: 200px;
    margin-left: px;
    }

    .publi3 {
    grid-area: publi3;
    border: 5px solid yellow;
    width: 200px;
    margin: y 20px x 20px;
    }