.navForos {
    display: flex;
    gap: 30px;
    margin-right: 50px;
    margin-left: 50px;

    li {
        display: flex;
        list-style: none;
        margin-left: 120px;
        margin-right: 120px;
        gap: 20px;
    }
    }

    .foto1foro {
    width: 150px;
    height: 100px;
    }

    .foto2foro {
    width: 100px;
    height: 100px;
    }

    .foto3foro {
    width: 130px;
    height: 100px;
    }