.cubo {
    width: 80%;
    height: 80%;
    margin-top: 50px;
    margin-left: 80px;
    }

    .fondoMain {
    background-color: white;
    }

    .cuantosMeses {
    background-color: rgba(255, 255, 107, 0.87);
    color: black;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 450px;
    }

    .cuboo {
    width: 30%;
    height: 30%;
    margin-left: 40px;
    margin-top: 30px;
    }

    .navCub {
    display: flex;
    gap: 2px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;


    li {
        display: flex;
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;
        justify-items: baseline;

        a {
        text-decoration: none;
        color: black;
        }
    }
    }